<div class="w-100 headerContainer">
    <div class="container title">Breaking Bad Data</div>
    <hr class="gradientLine">

    <div class="container searchContainer">
        <div class="form-group row">
            <label class="col-xs-1 col-form-label" for="searchCharacterInput"><fa-icon [icon]="faSearch"></fa-icon> </label>
            <div class="col-xs-4">
                <input id="searchCharacterInput" type="text" class="form-control" placeholder="Search character..">
            </div>
        </div>
    </div>

</div>