<div class="searchContainer">
    <div class="container">
        <div class="form-group row">
            <label class="col-xs-1 col-form-label" for="searchCharacterInput"><fa-icon [icon]="faSearch"></fa-icon> </label>
            <div class="col-xs-4">
                <input id="searchCharacterInput" type="text" class="form-control" i18n-placeholder placeholder="Search character.." [(ngModel)]="searchFilter">
            </div>
        </div>
    </div>
</div>

<div class="characterListContainer row">
    <div class="col-md-4" *ngFor="let character of characters | search: searchFilter">
        <div class="characterCard" [routerLink]="['/character-detail', character.char_id]">
            <img class="characterCardImg" [src]="character.img" [alt]="character.name">
            <div class="cardName">{{character.name}}</div>
            <div class="nickName">({{character.nickname}})</div>
        </div>
    </div>
</div>