/* You can add global styles to this file, and also import other style files */

.w-100 {
    width: 100%;
}

.fixedHeader {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

.txt-center {
    text-align: center;
}

.txt-bold {
    font-weight: bold;
}